<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B34A7001BAA9E2200C0FE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B34A7191BAA9E2200C0FE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B34A7241BAA9E2200C0FE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
